
.nav {
    display: inline-block;
  }
  
  .shirt {
    position: relative;
  }
  
  .text {
    position: absolute;
    font-size: 25px;
    top: 100px;
    left: 120px;
  }
  
  .text-input {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .shirt img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .price {
    font-size: 20px;
  }
  
  .price span{
    float: right;
  }
  
  .color-preview {
    border: 1px solid #CCC;
    margin: 2px;
    vertical-align: top;
    float: left;
    cursor: pointer;
    overflow: hidden;
    width: 20px;
    height: 20px;
  }
  