html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


a  {
  color:#2074b5;
  text-decoration:none;
  font-size:12px;
}
input  {
  border: 1px solid #888;
  border-radius: 5px;
  height: 24px;
  line-height: 20px;
  padding: 5px;
  width: 200px;
  float:left;
  margin:0 5px 0 0;
}
#preview  {
  width:300px;
  height:300px;
  position:absolute;
  left:0px;
  top:0px;
  overflow:hidden;
}
.show  {
  border:1px solid #888;
  left:750px !important;
}

#addText  {
  background-color: #db631e;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  height: 36px;
  line-height: 24px;
  width: 150px;
}
#demoContainer  {
  width:800px;
  height:auto;
  margin:0 auto;
  font-family:Roboto;
  position:relative;
}
#header  {
  width:100%;
  height:auto;
  float:left;
  margin:0 0 10px;
}
#header a  {
  float:left;
}
#header h1  {
  font-size:30px;
  color:#0E2F5A;
  clear:none;
  float:left;
  margin:10px 0 0 20px;
}
#imageDemoContainer  {
  width:700px;
  height:auto;
  float:left;
  position:relative;
}
#mainImageLoading {
  width:700px;
  height:700px;
  position:absolute;
  z-index:1000;
  background:#fff url('//res.cloudinary.com/demo-robert/image/upload/v1452886398/loader.gif') no-repeat center;
  opacity:.7;
}
.hide  {
  display:none !important;
}
#imageThumbs  {
  float:left;
  width:100%;
  height:75px;
}
ul#thumbs  {
  float:left;
  list-style:none;
  display:inline;
  padding:0;
  margin:10px 0 50px 50px;
}
ul#thumbs li  {
  float:left;
  display:inline;
  margin:0 10px 0 0;
  border:1px solid #E8E8E8;
  padding:0;
  height:75px;
  width:75px;
}
#demoInputContainer  {
  width:450px;
  height:auto;
  float:right;
  padding:100px 0 0;
}
.inputSelections  {
  width:100%;
  margin:0 0 20px;
  height:auto;
  float:left;
}
.inputSelections h2  {
  font-weight:bold;
  font-size:18px;
  margin:5px 0 10px;
}
.inputSelections ul  {
  width:100%;
  height:auto;
  display:block;
  clear:both;
  float:left;
  margin:0 0 15px;
}
.inputSelections ul li  {
  float:left;
  padding:0;
  width:auto;
  border:1px solid #E8E8E8;
}
.swatches  {
  margin:-10px 0 15px !important;
}
.swatches li  {
  width:30px;
  height:30px;
  padding:0;
  margin:10px 10px 0 0;
}
.inputSelections ul li:hover  {
  cursor:pointer;
}
ul#swatches li  {
  border:1px solid #E8E8E8;
  height:50px;
  padding:0;
  width:auto;
}
#fontSelector li  {
  margin:0 10px 0 0;
  height:30px;
  width:auto;
}
ul.logo li  {
  height:50px;
}
.active  {
  border:1px solid #959595 !important;
}
#textInputContainer  {
  float:left;
  width:100%;
  height:auto;
}
#imageThumbs li:hover  {
  cursor:pointer;
}
#fontlist  {
  width:200px;
  height:30px;
  margin:0 0 15px;
}
#preview  {
}

.magnifier-thumb-wrapper {
  position: relative;
  display: block;
  top: 0;
  left: 0
}

.magnifier-lens {
  position: absolute;
  border: solid 1px #ccc;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: none !important;
}

.magnifier-loader {
  position: absolute;
  top: 0;
  left: 0;
  border: solid 1px #ccc;
  color: #fff;
  text-align: center;
  background: transparent;
  background: rgba(50, 50, 50, 0.5);
  z-index: 1000;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)
}

.magnifier-loader-text {
  font: 13px Arial;
  margin-top: 10px
}

.magnifier-large {
  position: absolute;
  z-index: 100
}

.magnifier-preview {
  padding: 0;
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden
}

.magnifier-preview img {
  position: absolute;
  top: 0;
  left: 0
}

.opaque {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100)
}

.hidden {
  display: none
}
/***
Spectrum Colorpicker v1.8.0
https://github.com/bgrins/spectrum
Author: Brian Grinstead
License: MIT
***/

.sp-container {
  position:absolute;
  top:0;
  left:0;
  display:inline-block;
  *display: inline;
  *zoom: 1;
  /* https://github.com/bgrins/spectrum/issues/40 */
  z-index: 9999994;
  overflow: hidden;
}
.sp-container.sp-flat {
  position: relative;
}

/* Fix for * { box-sizing: border-box; } */
.sp-container,
.sp-container * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio */
.sp-top {
  position:relative;
  width: 100%;
  display:inline-block;
}
.sp-top-inner {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.sp-color {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:20%;
}
.sp-hue {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:84%;
  height: 100%;
}

.sp-clear-enabled .sp-hue {
  top:33px;
  height: 77.5%;
}

.sp-fill {
  padding-top: 80%;
}
.sp-sat, .sp-val {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.sp-alpha-enabled .sp-top {
  margin-bottom: 18px;
}
.sp-alpha-enabled .sp-alpha {
  display: block;
}
.sp-alpha-handle {
  position:absolute;
  top:-4px;
  bottom: -4px;
  width: 6px;
  left: 50%;
  cursor: pointer;
  border: 1px solid black;
  background: white;
  opacity: .8;
}
.sp-alpha {
  display: none;
  position: absolute;
  bottom: -14px;
  right: 0;
  left: 0;
  height: 8px;
}
.sp-alpha-inner {
  border: solid 1px #333;
}

.sp-clear {
  display: none;
}

.sp-clear.sp-clear-display {
  background-position: center;
}

.sp-clear-enabled .sp-clear {
  display: block;
  position:absolute;
  top:0px;
  right:0;
  bottom:0;
  left:84%;
  height: 28px;
}

/* Don't allow text selection */
.sp-container, .sp-replacer, .sp-preview, .sp-dragger, .sp-slider, .sp-alpha, .sp-clear, .sp-alpha-handle, .sp-container.sp-dragging .sp-input, .sp-container button  {
  -webkit-user-select:none;
  -moz-user-select: -moz-none;
  -o-user-select:none;
  user-select: none;
}

.sp-container.sp-input-disabled .sp-input-container {
  display: none;
}
.sp-container.sp-buttons-disabled .sp-button-container {
  display: none;
}
.sp-container.sp-palette-buttons-disabled .sp-palette-button-container {
  display: none;
}
.sp-palette-only .sp-picker-container {
  display: none;
}
.sp-palette-disabled .sp-palette-container {
  display: none;
}

.sp-initial-disabled .sp-initial {
  display: none;
}


/* Gradients for hue, saturation and value instead of images.  Not pretty... but it works */
.sp-sat {
  background-image: -webkit-gradient(linear,  0 0, 100% 0, from(#FFF), to(rgba(204, 154, 129, 0)));
  background-image: -webkit-linear-gradient(left, #FFF, rgba(204, 154, 129, 0));
  background-image: -moz-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
  background-image: -o-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
  background-image: -ms-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
  background-image: linear-gradient(to right, #fff, rgba(204, 154, 129, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr=#FFFFFFFF, endColorstr=#00CC9A81)";
  filter : progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr='#FFFFFFFF', endColorstr='#00CC9A81');
}
.sp-val {
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000000), to(rgba(204, 154, 129, 0)));
  background-image: -webkit-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
  background-image: -moz-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
  background-image: -o-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
  background-image: -ms-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
  background-image: linear-gradient(to top, #000, rgba(204, 154, 129, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00CC9A81, endColorstr=#FF000000)";
  filter : progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC9A81', endColorstr='#FF000000');
}

.sp-hue {
  background: -moz-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: -ms-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: -o-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), color-stop(0.17, #ffff00), color-stop(0.33, #00ff00), color-stop(0.5, #00ffff), color-stop(0.67, #0000ff), color-stop(0.83, #ff00ff), to(#ff0000));
  background: -webkit-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: linear-gradient(to bottom, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

/* IE filters do not support multiple color stops.
   Generate 6 divs, line them up, and do two color gradients for each.
   Yes, really.
 */
.sp-1 {
  height:17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#ffff00');
}
.sp-2 {
  height:16%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#00ff00');
}
.sp-3 {
  height:17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff00', endColorstr='#00ffff');
}
.sp-4 {
  height:17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffff', endColorstr='#0000ff');
}
.sp-5 {
  height:16%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000ff', endColorstr='#ff00ff');
}
.sp-6 {
  height:17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff', endColorstr='#ff0000');
}

.sp-hidden {
  display: none !important;
}

/* Clearfix hack */
.sp-cf:before, .sp-cf:after { content: ""; display: table; }
.sp-cf:after { clear: both; }
.sp-cf { *zoom: 1; }

/* Mobile devices, make hue slider bigger so it is easier to slide */
@media (max-device-width: 480px) {
  .sp-color { right: 40%; }
  .sp-hue { left: 63%; }
  .sp-fill { padding-top: 60%; }
}
.sp-dragger {
  border-radius: 5px;
  height: 5px;
  width: 5px;
  border: 1px solid #fff;
  background: #000;
  cursor: pointer;
  position:absolute;
  top:0;
  left: 0;
}
.sp-slider {
  position: absolute;
  top:0;
  cursor:pointer;
  height: 3px;
  left: -1px;
  right: -1px;
  border: 1px solid #000;
  background: white;
  opacity: .8;
}